@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)

// ≥768px
+media-breakpoint-down(sm)
  .mt-103
    margin-top: 29px

  .b_gray_box_title
    p
      margin-bottom: 20px
    h1
      font-size: 42px
      line-height: 42px

  .embed-responsive
    margin-top: 30px

  .bg-gray
    padding-bottom: 20px
    margin-bottom: 25px

  .bl-info-r
    margin-bottom: 30px
    h2
      font-size: 21px
      line-height: 26px
      margin-bottom: 10px
    a
      margin-top: 25px
  .element-item
    width: 50%
    .img-responsive
      min-width: 100%
// ≥576px
+media-breakpoint-down(xd)

  .b_gray_box_title
    h1
      font-size: 32px
      line-height: 32px
  .element-item
    width: 100%
    .img-responsive
      min-width: 100%
// ≥480px
+media-breakpoint-down(zx)

// ≥360px
+media-breakpoint-down(xs)

/*==========  Mobile First  ==========*/
// ≤360px
+media-breakpoint-up(zx)

// ≤480px
+media-breakpoint-up(xd)

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)
  .embed-responsive
    margin-left: 61px
    width: 90%
// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
