@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 15px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold
.bg-gray
	background-color: #f6f2f2
.navbar-expand-lg
	&.menu-nav
		.navbar-collapse
			justify-content: center
.bg-light
	&.menu-nav
	background-color: #313030

.menu-nav
	margin-top: 29px
	.nav-item
		margin-left: 13px
		margin-right: 13px
	.nav-link
		padding-top: 37px
		padding-bottom: 28px
		padding-left: 23px
		padding-right: 24px
		display: block
		color: #e0e0e0
		font-family: "Open Sans"
		font-size: 14px
		font-weight: 700
		line-height: 24px
		text-transform: uppercase
		opacity: 1
	.active
		.nav-link
			background: #ff3f40




@import "media" // Always at the end
